doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Day09-pug 
  body 
    table 
      tr 
        th My Information
      tr 
        td Name 
        td Myo Min Khant 
      tr 
        td Phone 
        td 09-420185510 
      tr 
        td E-mail  
        td deidaramyo@gmail.com 
      tr 
        td Age 
        td 28 October, 1999