html
  head
    title Register
  body
  h2 Register
form(method="post" action="/register")
  table 
    tr
      td Username 
      td 
        input(type="text" name="username")
    tr 
      td Password 
      td 
        input(type="password" name="password")
    tr 
      td
        input(type="submit" value="Register")